*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wishlistdiv{
    display: flex;
flex-wrap: wrap;
padding: 30px;
.wishlistproducts{
margin-bottom: 30px;
.proBoxDiv{
    border: 1PX solid #4484CE;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
img{
width: 100%;
border-radius: 10px;
}
.btns{
display: flex;
gap: 10px;
}
.removefromwishlist{
        background-color: #FBCE00;
        padding: 10px;
        border: none;
    }
    .addtobasketbtn{
        background-color: #FBCE00;
        padding: 8px;
        border: none;
    }
}
}
    .proBox{
        margin-bottom: 30px;
        .proBoxDiv{
            border: 1PX solid #4484CE;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            font-weight: bolder;
            img{
                width: 100%;
            }
            .addtowishlistbtn{
                background-color: #FBCE00;
                padding: 18px;
                border: none;
            }
            .addtobasketbtn{
                background-color: #FBCE00;
                padding: 8px;
                border: none;
            }
        }

        img{
            width: 100%;
            border-radius: 10px;
        }
    }
}